   <!-- Navigation -->
    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggler collapsed" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="visually-hidden">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">{{ site.title }}</a>
            </div>

            <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#portfolio">Projects</a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#about">About</a>
                    </li>
                    <li class="nav-item page-scroll">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
