<!DOCTYPE html>
<html lang="{{ page.locale | default: site.locale | replace: '_', '-' }}" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    {% include head.html %}
    <body id="page-top" class="article-page">
    {% include gtm_body.html %}
    {% include nav_article.html %}
    {% include header_article.html %}
    <main class="article-shell">
      <article class="article-content" lang="{{ page.locale | default: site.locale | replace: '_', '-' }}">
        {{ content }}
      </article>
    </main>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
