<!DOCTYPE html>
<html lang="{{ page.locale | default: site.locale | replace: '_', '-' }}" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
    {% include head.html %}
    <body id="page-top" class="index">
    {% include gtm_body.html %}
    {% include nav_article.html %}
    {% include header_article.html %}
    <div class="container">
        <div class="row">
           <div class="col-lg-10 offset-lg-1 article" lang="{{ page.locale | default: site.locale | replace: '_', '-' }}">
    		{{ content }}
	   </div>
	</div>
    </div>
    {% include footer.html %}
    {% include js.html %}
    </body>
</html>
